.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */
    grid-gap: 10px; /* Adjust the gap between the items */
  }
  
.grid-item {
    /* Your grid item styling */
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    width: 290px;
  }

  .form-group {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .full-container{
    border: 1px solid green;
    padding: 20px;
    width: 1140px;
  }